/* ==========================================================================
   Site styles
   ========================================================================== */

html,
body {
  height: 100%;
}

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
}

.va-middle {
  vertical-align: middle;
}

header {
  min-height: 100%;
}

.wrap {
  margin: 0 auto;
}

.container {
  max-width: 48rem;
}

p {
  @extend .py1;
  @extend .h3;
  line-height: 2.5rem;
}
